<h2>Crea nuovo utente</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <app-text-area label="Nome" placeholder="Nome" formControlName="name"></app-text-area>
  <app-text-area label="Cognome" placeholder="Cognome" formControlName="surname"></app-text-area>
  <app-text-area label="Email" placeholder="Email" formControlName="email"></app-text-area>
  <app-text-area label="Telefono" placeholder="Telefono" formControlName="phone"></app-text-area>
  <button type="submit" [disabled]="userForm.invalid">Salva</button>
</form>