<h2>Modifica Utente</h2>
<form *ngIf = "userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <app-text-area label="Nome" placeholder="Nome" [(value)] = "user.name" formControlName="name"></app-text-area>
  <app-text-area label="Cognome" placeholder="Cognome" [(value)]="user.surname" formControlName="surname"></app-text-area>
  <app-text-area label="Email" placeholder="Email" [(value)]="user.email" formControlName="email"></app-text-area>
  <app-text-area label="Telefono" placeholder="Telefono" [(value)]="user.phone" formControlName="phone"></app-text-area>
  <button type="submit" [disabled]="userForm.invalid">Salva</button>
</form>


