@if(user) {
  <h2>Modifica Utente #{{user.id}}</h2>
  @if (userForm) {
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <app-text-area label="Nome" [(value)] = "user.name" formControlName="name"></app-text-area>
  <app-text-area label="Cognome" [(value)]="user.surname" formControlName="surname"></app-text-area>
  <app-text-area label="Email" [(value)]="user.email" formControlName="email"></app-text-area>  
  <app-text-area label="Telefono" [(value)]="user.phone" formControlName="phone"></app-text-area>
  <p-button label="Salva" icon="pi pi-check" iconPos="right" type="submit" [disabled]="userForm.invalid" styleClass="my-custom-btn"/>
  </form>
}
}




