<div class="container">
  <p-autoComplete
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    [suggestions]="filtered"
    [field]="field"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [dropdown]="dropdown"
    [forceSelection]="forceSelection"
    [showClear]="showClear"
    (completeMethod)="onFilter($event)"
    (onSelect)="onItemSelect($event)">
  </p-autoComplete>
  
  <div class="text-danger" *ngIf="control?.invalid"> 
      {{ control?.errorMessage }} 
  </div> 
</div>