<div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
            <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>
                <p-button icon="pi pi-user" (click)="viewUser(user.id)" styleClass="my-custom-btn" />
                <p-button icon="pi pi-refresh" iconPos="right" (click)="editUser(user.id)" styleClass="my-custom-btn" />
                <p-button icon="pi pi-times" severity="danger" styleClass="my-custom-btn" (click)="deleteUser(user.id)" />
            </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div>
    Crea un nuovo utente: 
    <p-button label="Nuovo utente" [routerLink]="['/users/create']" />
</div>
