Seleziona un tema: <p-select [options]="themes" optionLabel="label" optionValue="value" [ngModel]="actualTheme" (ngModelChange)="changeTheme($event)" />

<div class="UserList">
<p-table [value] = "users" dataKey = "id">
    <ng-template #header>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Id</th>
        </tr>
        <tr>
            <th>
            <p-columnFilter type="text" field="name" placeholder="Filtra dal nome" ariaLabel="Filter Name"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="surname" placeholder="Filtra dal cognome" ariaLabel="Filter Surname"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.id}}</td>
            <td>
                <p-button label="Dettagli" (onClick)="viewUser(user.id)" />
                <p-button label="Modifica" (onClick)="editUser(user.id)" />
                <p-button label="Elimina" (onClick)="deleteUser(user.id)" />
            </td>
        </tr>
    </ng-template>
    <ng-template #footer>
        <div class = "footerUserList">
        Vuoi aggiungere un nuovo utente?
        <p-button label = "Crea" [routerLink]="['/users/create']" />
        </div>
    </ng-template>
</p-table>
</div>