<div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
            <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>
                <p-button label="Dettagli" (click)="viewUser(user.id)" styleClass="my-custom-btn"/>
                <p-button label="Modifica" (click)="editUser(user.id)"styleClass="my-custom-btn"/>
                <p-button label="Elimina" (click)="deleteUser(user.id)"styleClass="my-custom-btn"/>
            </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div class="borderdiv">
    Crea un nuovo utente: 
    <p-button label="Nuovo utente" [routerLink]="['/users/create']" styleClass="my-custom-btn"/>
    <p-button label="Test" icon="pi pi-check" iconPos="right" />
</div>
