@import 'primeicons/primeicons.css';

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--background-button-color);
}

.user-list-table,
.user-list-table .p-datatable,
.user-list-table .p-datatable-wrapper,
.user-list-table .p-datatable-thead > tr > th,
.user-list-table .p-datatable-tbody > tr > td {
  background-color: var(--background-color) !important; /* necessario per forzare lo stile di primeng che ovviamente sono selettori forti */
  color: var(--text-color) !important;
}

.user-list-table .p-button,
.form-user .p-button,
.customize-theme button {
  background-color: var(--background-button-color) !important;
  color: var(--text-color) !important;
}

/* .customize-theme input {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.customize-theme .p-colorpicker {
  background-color: var(--background-button-color);
}

.customize-theme .p-colorpicker-preview {
  background-color: var(--background-button-color);
}  */

/* setting per la dark mode */
body.dark-mode {
  --surface-a: #1e1e1e;
  --surface-b: #2c2c2c;
  --text-color: white;
  background-color: black;
  /* background-color: var(--surface-a); */
  color: var(--text-color);

}

/* global styles */
h2 {
    font-family: helvetica;
    font-size: 20px;
}

p {
    font-family: helvetica;
    font-size: 16px;
}

table {
  padding: 8px;
}

table td, th {
  padding: 5px;
}

button {
  margin-left: 20px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 6px;  
  border: none;
  cursor: pointer; 
  background-color: rgb(47, 19, 209);
} 
  
button:hover {
    background-color: #0275f0;
}
  
form {max-width: 300px;}
  
label {
  display:block;
  color: #333;
  font-size: 16px;
}
  
input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid black;
}